{% load staticfiles %}
<html>
<head>
    <title>能量豆培训2013学生反馈</title>
    <link type="text/css" href="{% static 'feedback2013/style.css' %}"/>
    <script src="{% static 'feedback2013/jquery-1.10.2.min.js' %}"></script>
    <script>
        $("document").ready(function (){
            $("#close_window").click(function() {
                window.close();
            });  
        });
    </script>
</head>

<body>

<p>感谢您参与本次调查，祝您考入理想大学！</p>
<input id="close_window" name="close_window" value="关闭窗口" type="button"/>
</body>
</html>
