{% load staticfiles %}
<html>
<head>
    <title>能量豆培训2013学生反馈</title>
    <link rel="stylesheet" type="text/css" href="{% static 'feedback2013/style.css' %}"/>
    <script src="{% static 'feedback2013/jquery-1.10.2.min.js' %}"></script>
</head>

<body>
    <form action="{% url 'feedback2013:feedback2'%}" method="post">
        {% csrf_token %}
        <div>
            <label for="id_final_atar_score">最终ATAR成绩:</label>
            <input id="id_final_atar_score" name="final_atar_score" step="any" type="number" />
        </div>
        <div>
            <label for="id_uni_and_major">录取大学(校区)与专业:</label>
            <input id="id_uni_and_major" maxlength="255" name="uni_and_major" type="text" />
        </div>

        <div>
            <table>
                <tr>
                    <td>Unit3/4科目 (Subject) 仅填写所选科目 </td>
                    <td>原始分 (Study Score)</td>
                    <td>加减分后 (Scaled)</td>
                    <td>是否为2013年所学，或为2012提前已考？(选项Y/N)</td>
                    <td>备注 Remarks 可在此自由添加情况说明</td>
                </tr>
                {% for sub in subject.all %}
                <tr>
                    <td>
                        <label>{{ sub.name }}</label>
                        <input type="hidden" id="id_subject_name" name="subject_name_{{ sub.id }}" value="{{ sub.name }}"></input>
                    </td>
                    <td>
                        <input id="id_study_score" name="study_score_{{ sub.id }}" step="any" type="number"></input>
                    </td>
                    <td>
                        <input id="id_scaled_score" name="scaled_score_{{ sub.id }}" step="any" type="number"></input>
                    </td>
                    <td>
                        <div>
                            <label for="id_for_2012_2011_y">Yes</label>
                            <input id="id_for_2012_2011_y" name="for_2012_2011_{{ sub.id }}" type="radio" />
                        </div>
                        <div>
                            <label for="id_for_2012_2011_n">No</label>
                            <input id="id_for_2012_2011_n" name="for_2012_2011_{{ sub.id }}" type="radio" checked="true" />
                        </div>
                    </td>
                    <td>
                        <input id="id_remark" length="200" maxlength="255" name="remark_{{ sub.id }}" type="text" />
                    </td>
                </tr>
                {% endfor%}
            </table>
            <input id="id_subject_id_list" name="subject_id_list" type="hidden" value="{{ subject.subject_id_list }}" />
        </div>
        <div>
            <label for="id_comment">意见建议:</label>
            <input id="id_comment" maxlength="560" name="comment" type="text" />
        </div>
        <div>
            <p>欢迎介绍朋友同学前来能量豆培训中心。我们提供免费VCE咨询：从华人学生独特角度，全盤打造一套最合適最高效的VCE高分方案、學習計劃，全面衝刺！</p>
        </div>
        <div class="center">
            <input type="submit" value="下一步"/>
        </div>
    </form>

</body>
</html>
